*.pro.user
*.autosave
builddir
doc/html
*api.json.new
*.o
*.log
*.qm
*.install
*.crossbuilder
*.deb
debs*
moc_*.cpp
*.moc
Makefile
*.so*
qrc_*.cpp
*debhelper.log
*.dirs
*.install
*.substvars
plugininfo.h
extern-plugininfo.h
